@using Stock.Data.Models
@model Item

<h2>Update Item</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ItemId" />
    <div class="form-group">
        <label asp-for="Name" class="form-label">Item Name</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
